* {
    box-sizing: border-box;
}
body {
    font-family: cursive, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

div {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: #4443434d;
}

p {
    position: relative;
    clear: right;
}

section {
    position: relative;
    padding: 15px;
    width: 100%;
}

.box {
    width: 100%;
    height: auto;
    overflow: none;
    border: 3px solid black;
}

.title {
    width: 100px;
    float: right;
    text-align: center;
    margin: 0px;
    padding: 5px;
    border: 3px solid black;
    border-right: 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #4443434d;
    
}
.title1 {
    background-color: #D59898;
}

.title2 {
    background-color: #C14543;
    color: white;
}

.title3 {
    background-color: #E5D198;
}

.content {
    height: 250px;
    overflow: auto;
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    color: black;
}

@media (min-width: 992px){ 
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6, .col-md-12 {
        float: left;
    }

    .col-md-6 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .col-md-12 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px){
    .col-sm-12 {
        float: left;
        width: 100%;
    }
} 